<h1>Create Team</h1>

<%= form_with model: @team do |form| %>
    
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
