<%= form_with(model: Team) do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> Team can't be saved:</h2>

      <ul>
        <% @team.errors.each do |error| %>
          <li class="class1"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




<h1>Create Team</h1>

<%= form_with model: @team do |form| %>
    
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
<% end %>
