<h1><%= @team.name %></h1>

<p><%= @team.strength%></p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<li><%= link_to "Destroy", team_path(@team),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
