<%= form_with(model: Player) do |form| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> Player can't be saved:</h2>

      <ul>
        <% @player.errors.each do |error| %>
          <li class="class1"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>Player</h1>

<%= form_with model: @player do |form| %>
    
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.datetime_select :dob,start_year: 1980,end_year: Time.now.year %>
  </div>

  <div class="field">
    <%= form.label :matches %>
    <%= form.number_field :matches %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.collection_select(:team_id,Team.all, :id, :name)%>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.collection_select(:country_id,Country.all, :id, :name)%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<% end %>
